---
import { TwitterVideoDownloader } from '../components/TwitterVideoDownloader';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Twitter Video Downloader</title>
		<meta name="description" content="Download videos from Twitter/X easily and quickly" />
	</head>
	<body>
		<TwitterVideoDownloader client:load />
	</body>
</html>
